h1 {
    color: lightblue;
    text-align: center;
}

.lead {
    text-align: center;
    color:whitesmoke;

}

.jumbotron {
    background-color: black;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(167, 211, 227), rgba(0, 0, 0, 0));
}

.social-media {
    font-size: 32px;
    margin-left: 15%;
}

a {
    color: whitesmoke;
}

#currentlylistening {
    font-size: 12px;
    color: whitesmoke;
    margin-left: 66%;
    border: solid red 2px;
    border-width: thin;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    background-color: red;
}

#lastfm {
    font-size: 24px;
    color: whitesmoke;
    margin-left: 66%;
}

