<header>

    <!--
    <div class="mobile-menu">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle" name="toggle">
    </div>
-->
    <nav>

    <a class="hvr-float-shadow" href="#about">Om mig</a>
    <a class="hvr-float-shadow" href="#portfolio">Portfolio</a>
    <a class="hvr-float-shadow" href="#kontakt">Kontakt</a>
    <a class="hvr-float-shadow" href="#kunskap">lol</a>

   </nav>



    <h1><span>Tommi Svärd</span></h1>
   <p class="lead">Jr.Webdeveloper | Other | Student </p>




</header>