<header>
    <div class="navi-bar">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle" name="toggle"/>

    <div class="menu">
    <a class="hvr-float-shadow" href="#about">Om mig</a>
    <a class="hvr-float-shadow" href="#portfolio">Portfolio</a>
    <a class="hvr-float-shadow" href="">Kontakt</a>
    <a class="hvr-float-shadow" href="#kunskap">lol</a>
    <!-- Float following two links to the right -->
    <a class="social-media" href=""><i class="fab fa-linkedin"></i><p>Linkedin</p></a>
    <a class="social-media" href=""><i class="fab fa-github"></i><p>Github</p></a>
    </div>

    </div>

    <h1><span>Tommi Svärd</span></h1>
   <p class="lead">Jr.Webdeveloper | Other | Student </p>
</header>