<section class="alt-section section-work">
    <h3 id="portfolio">Portfolio</h3>

<div class="work-area">

<div class="thumb-wrap">
<div class="thumbnails-portfolio">
{% for item,val in skills.items() %}
    <div class="thumbnail-unit" data-url="{{ val }}" style="background-image: url(../static/img/images/{{ item }}.jpg);">
        <div class="thumbnail-overlay">
            <strong class="thumb-desc">{{ item }}</strong>
        </div>
        </div>
{% endfor %}
</div>
</div>
<div class="work-wrap">
<div class="work-container">

<div class="work-return"><i class="fas fa-chevron-circle-left"></i></div>
<h4 class="work-title">Mitt arbete</h4>
<div class="work-load"></div>

</div>
</div>

 </div>
</section>
